body{
	font-family: 'Montserrat', sans-serif;
}

/*dark mode css starts*/

body.dark-mode{
	background: url("../images/bg-dm.png") no-repeat fixed center;
	background-size: cover;
	color:#dadada;
}

.dark-mode aside.left-navigation span , .dark-mode aside.left-navigation:hover .h6 i, .dark-mode aside.left-navigation.hover-lock .h6 i{
	color: #686868;
}

.dark-mode aside.left-navigation:hover span , .dark-mode aside.left-navigation.hover-lock span, .dark-mode aside.left-navigation:hover h1 span, .dark-mode #tabs,.dark-mode table,.dark-mode #accordion button  {
	color: #dadada;
}

 .dark-mode #tabs select{
 	color: #686868;
 }

.dark-mode #tabs .nav-tabs .nav-item.show .nav-link,.dark-mode .nav-tabs .nav-link.active{
	border-bottom: 3px solid #dadada !important;
}

.dark-mode #tabs select{
    background-color: transparent;
}

.dark-mode .fixtures-container.text-contents a{
	color: #ffbd59;
}

.dark-mode .gradient-indigo-blue{
    height: 185px;
    background:transparent !important;
}

.dark-mode .cards-container p{
	color: #f9f9f9;
}

.dark-mode .cards-container{
	box-shadow: none;
}

.dark-mode .cards-container .cards{
    box-shadow: 0px 1px 2px #03488a;
}

.dark-mode .cards-container ,.dark-mode .cards , .dark-mode #accordion .card{
	/*background-color: #37474f;*/
	background:transparent;
}

.dark-mode .orange-text{
	color: #f54c18;
}

.dark-mode .orange-button{
	color: #000;
}

.dark-mode #accordion{
    box-shadow: 0px 1px 1px #03488a;
}

.dark-mode #accordion .card .card-header{
 	border-bottom: 1px solid #313e74;
}

.dark-mode #tabs .tab-content table td, .dark-mode #tabs .tab-content table th{
	border:none !important;
}

.dark-mode .top-nav{
	background: transparent;
}

.dark-mode .cards-container{
	padding-left: 0 !important;
}

.top-nav{
	background:url(../images/bg-dm.png) 0 0 no-repeat;
	background-size: cover;
}

/*
.dark-mode #accordion .card{
	background-color: #37474f;
}*/

/*dark mode css ends*/



ul{
	margin: 0;
	padding:0;
}

ul li{
	list-style: none;
}

ul li a{
	display: inline-block;
}

#menu{
	display: none;
}

aside.left-navigation{
	background-color: #141414;
	width: 65px;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 0;
	transition: 0.3s;
	height: 100vh;
	overflow: auto;
	z-index: 1;
}

.rounded-icon{
    border-radius: 100%;
}

.main-logo{
	width: 100%;
	height: 40px;
}

.main-logo{
	background-color:#fff;
	height: auto;
}

.hover-lock .main-logo,aside.left-navigation:hover .main-logo{
	width: 75%;
	background:none;
}

aside.left-navigation:hover, aside.left-navigation.hover-lock{
	width: 250px;
	transition: 0.3s;
}

aside.left-navigation ul li.active{
	background: -webkit-linear-gradient(45deg,#303f9f,#1976d2)!important;
    background: oldlinear-gradient(45deg,#303f9f,#1976d2) -moz-!important;
    background: -o-linear-gradient(45deg,#303f9f,#1976d2)!important;
    background: linear-gradient(45deg,#303f9f,#1976d2)!important;
}

aside.left-navigation li:hover{
	background-color: #414141;
}

aside.left-navigation li a{
	display: block;
	color: #f6f6f6;
}

aside.left-navigation ul li a i{
	font-size: 21px;
	margin-right: 1rem;
}

.h6 i{
	color: #dedede;
}

aside.left-navigation span ,aside.left-navigation:hover .h6 i ,aside.left-navigation.hover-lock .h6 i{
	display: none;
	color: #b6b6b6;
}

aside.left-navigation:hover span , aside.left-navigation.hover-lock span  {
	display: inline-block;
    margin: 0 0 0 8px;
    vertical-align: top;
    font-size: 14px;
    color:#f6f6f6;
}

aside.left-navigation:hover h1 span, aside.left-navigation.hover-lock h1 span{
	font-size: 24px;
	vertical-align: center;
}

.main{
	padding-left:80px;
}

.main.hover-lock{
	padding-left: 265px;
}


.top-nav ul li > a{
	height: 44px;
	line-height: 44px;
	text-decoration: none;
	font-size: 21px;
	color: #f6f6f6;
}

.top-nav ul li > a:hover{
	color: #ff6f00;
}

.top-nav ul li > .dropdown-menu{
	background-color: #032557;
}

.top-nav ul li .dropdown-item{
	color: #dadada;
}

.top-nav ul li .dropdown-item:hover {
	background-color: #ff6f00;
}

.top-nav ul li.dropdown-toggle::after {
	color: #dadada;
}

/* Tabs*/
section .section-title {
    text-align: left;
    margin-bottom: 32px;
    color: #888;
}

#tabs{
	padding:50px 15px 15px;
    color: #222;
}

/*

#tabs .nav-tabs{
	border-bottom:none;
	width: 100%;
	overflow-x: auto;
	flex-wrap: nowrap;
}


#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 2px solid #5e1f1f !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
    padding:8px 0 20px;
}*/

#tabs table td{
	vertical-align:center;
}



#tabs .tab-content select{
	border:none;
	padding:6px 0;
	margin-right: 1rem;
	border-bottom:1px solid #b5b5b5;
}



#hover-lock-button ,#hover-lock-button:focus{
	background-color: #37474f;
	border:none !important;
	color: #dadada;
	border-radius: 100%;
	height: 30px;
	width: 30px;
}

@media only screen and (max-width:768px){
	#menu{
		border: 2px solid #fff;
	    display: block;
	    position: fixed;
	    top: 10px;
	    left: 10px;
	    z-index: 2;
	    background-color: #37474f;
	    width: 35px;
	    height: 35px;
	    padding-top: 4px;
	}

	#menu.open-mobile{
		left: 50px;
		top: 20px;
	}

	aside.left-navigation{
		display: none;
	}

	.main , .main.hover-lock{
		padding-left:15px;
	}

	#hover-lock-button{
		display: none;
	}
}	



.fixtures-container.text-contents a{
	color: #8e24aa;
}


/*add on page css*/




.gradient-indigo-blue{
	background: -webkit-linear-gradient(45deg,#303f9f,#1976d2)!important;
    background: oldlinear-gradient(45deg,#303f9f,#1976d2) -moz-!important;
    background: -o-linear-gradient(45deg,#303f9f,#1976d2)!important;
    background: linear-gradient(45deg,#303f9f,#1976d2)!important;
    height: 185px;
}



.cards-container , .cards{
	box-shadow: 0px 1px 2px #aaaaaa;
	border-radius:0 0 4px 4px;
	background-color: #fff;
}

.cards{
	min-height: 335px;
}	

.cards .card-image{
	min-height: auto;
}

.cards img{
	margin-top: -35px;
	max-width: 100%;
	height: auto;
	border-radius:5px;
	transition: 0.4s;
	webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -7px rgba(0,0,0,.2);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -7px rgba(0,0,0,.2);
}

.cards:hover img{
	margin-top: -55px;
}



.orange-text{
	color: #d84315;
}



.orange-button{
	background: #ff6f00;
	color: #fff;
	webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -7px rgba(0,0,0,.2);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -7px rgba(0,0,0,.2);
}

.orange-button:hover{
	box-shadow: none;
	color: #fff;
	transition: 0.3s;
}

.card-desc h6{
	font-size: 18px;
}

.card-desc p{
	color: #6b6f82;
	font-size: 14px;
}

.text-contents p{
	font-size: 14px;
}

.dim{
	opacity: 0.7;
}

.divider{
	border-bottom: 1px solid #ccc;
}

.desc-topic{
	font-size: 24px;
	font-weight: 400;
}

.desc-topic-list{
	margin:0 0 25px 0;
}

.desc-topic-list span{
	font-size: 17px;
	vertical-align: bottom;
}

#accordion{
	display: flex;
    flex-grow: 100;
    flex-direction: column;
    box-shadow: 0px 1px 2px #aaaaaa;
}


 #accordion button{
	color: #6b6f82;
    font-size: 15px;
    font-weight: 700;
 }


 #accordion .card{
 	border-radius: 0;
 	border:none;
 }

 #accordion .card .card-header{
 	background-color: transparent;
 	border-bottom:1px solid #ddd;
 }

 ::-webkit-scrollbar {
    width: 8px;
    background:#000;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,255,1); 
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background:#212121;
} 